.App {
  text-align: center;
}

.demoButton {
  padding: var(--baseline-2);
  color: var(--colour-white);
  font-size: inherit;
  background-color: var(--colour-primary);
  border: none;
  border-radius: 4px;

  &:active {
    background-color: var(--colour-secondary);
  }
}
