a {
  color: var(--colour-secondary);
  text-decoration: none;
}

.code-pane {
  font-size: 32px !important;

  pre {
    padding: 1rem 2rem !important;
  }
}

.react-live {
  display: flex;
  justify-content: center;
}

.react-live__editor {
  flex: 1;
  margin-right: 1em;
  max-width: 1000px;

  pre,
  textarea {
    padding: 1rem 2rem !important;
  }

  textarea:focus {
    outline-color: var(--colour-primary);
  }
}

.react-live__preview-pane {
  position: relative;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-xxlg);

  button {
    padding: var(--baseline-2);
    color: var(--colour-white);
    font-size: inherit;
    background-color: var(--colour-primary);
    border: none;
    border-radius: 4px;

    &:active {
      background-color: var(--colour-secondary);
    }
  }
}

.react-live__error {
  position: absolute;
  top: 0;
  margin: 0;
  background-color: var(--colour-bg);
  text-align: left;
  line-height: 1.3;
}
